@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Light mode scrollbar */
  :root {
    color-scheme: light;
  }

  /* Dark mode scrollbar */
  :root[class~="dark"] {
    color-scheme: dark;
  }

  /* Custom scrollbar for Webkit browsers */
  ::-webkit-scrollbar {
    width: 14px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-neutral-100 dark:bg-neutral-800;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-neutral-300 dark:bg-neutral-600;
    border: 3px solid transparent;
    background-clip: padding-box;
    border-radius: 9999px;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-neutral-400 dark:bg-neutral-500;
  }
}

.leaflet-container {
  z-index: 0 !important;
}
